.headerPage {background-color:var(--color-header-global-bg); display:flex; flex-direction:row; align-content:center; justify-content:center; column-gap:3rem; padding:var(--padding-header-global-bg-y) var(--padding-header-global-bg-x)}
.headerPage .logoLink.notLink {cursor:default; pointer-events:none;}
