.testimonial {
  padding: 1rem;
}
.testimonial blockquote {
  font-size: var(--text-lg);
  color: var(--color-neutral-200);
  padding: 0;
}
.testimonial p {
  font-size: var(--text-sm);
  font-weight: bold;
  margin: 0.5rem 0 0;
  text-align: right;
}
.testimonial p em {
  font-size: var(--text-sm);
  font-weight: normal;
  font-style: italic;
}
