.hero {display:flex; padding:3rem;}
.hero .container {display:flex; flex-direction:column; gap:calc(var(--spacing) * 4);}
.hero .container > div {flex-basis: calc(1/2 * 100%); text-align:center; align-content:center;}
@media (width >= 48rem) {
  .hero .container {flex-direction:row;}
  .hero .container > div {text-align:left;}
}
.hero .container > div > img {margin:auto; padding:0 3rem; width:80%;}
.hero .container > div h1 {color:#fff;}
.hero .container > div h1 strong {color:#ccc;}
.hero .container > div p {color:#fff;}
.hero .container > div p strong {color:#f60;}
